/* CSS styles for Login component */

.login {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #eee;
}
.login > .grid {
  height: 100%;
}
.login .image {
  width: 45% !important;
  margin-top: -100px;
  margin-bottom: 10px;
}
.login .column {
  max-width: 450px;
}

.login .login-header {
  color: #4cbbe9;
}

.login .login-button {
  background-color: #00adca;
  color: white;
}

.login .validation-error {
  margin-bottom: 20px;
  text-align: left;
  color: red;
}
